<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:x="https://www.agred.io/schema/sypter"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        https://www.agred.io/schema/sypter D:\Agredio-Workspace\sypter\src\main\resources\sypter.xsd"> 
    
	<context:annotation-config />
	
	<x:sypter id="sypterFileTest" certificate="classpath:cert/x-test.crt"
		keystore="classpath:cert/x-test.p12" keystore-password="xstorepass"
		key-alias="x-test" key-password="xstorepass" />
	
</beans>